.product-card img {
  height: 220px;
  object-fit: contain;
  background-color: #fff;
  padding: 10px;
}

.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 35px -4px rgba(255, 255, 255, 0.4);
}

.card-darkblue {
  background-color: #4b6eee;
  border: none;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-darkblue img {
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card-darkblue .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-darkblue .btn {
  background-color: #ffffff;
  color: #4b6eee;
  font-weight: 500;
}
.card-darkblue .btn:hover {
  background-color: #f1f1f1;
}

#description { 
  min-height: 120px;
  resize: none;
}

.form-img{
  display: inline-block;
}

.form-img img{
  display: inline;
  width: 600px;
  height: 650px;
}
